.App {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 
  "header header header"
  "nav main main"
}

.main{
   grid-area: main;
   background-color: rgb(124, 131, 156);
   padding: 25px;
}

